<section id="skills" class="max-w-4xl mx-auto p-6 mt-12 bg-gray-100 rounded">
  <h2 class="text-3xl font-semibold mb-4">{{ 'skills.title' | translate }}</h2>
  <ul class="list-disc list-inside columns-2 md:columns-2 gap-4">
    <li>{{ 'skills.angular' | translate }}</li>
    <li>{{ 'skills.net' | translate }}</li>
    <li>{{ 'skills.ts' | translate }}</li>
    <li>{{ 'skills.tailwind' | translate }}</li>
    <li>{{ 'skills.rest' | translate }}</li>
    <li>{{ 'skills.sql' | translate }}</li>
    <li>{{ 'skills.azure' | translate }}</li>
    <li>{{ 'skills.csharp' | translate }}</li>
    <li>{{ 'skills.git' | translate }}</li>
  </ul>
</section>
