<section id="workExperience" class="max-w-4xl mx-auto p-6">
  <h2 class="text-2xl font-bold mb-4 text-primary">{{ 'experience.description' | translate }}</h2>

  <div class="border-l-2 border-primary pl-4">
    <div class="mb-6 relative">
      <div class="absolute -left-3 top-1 w-6 h-6 bg-primary rounded-full"></div>
      <h3 class="text-xl font-semibold">{{ 'experience.functionalAnalyst' | translate }}</h3>
      <span class="text-sm text-gray-500">{{ 'experience.companyFA' | translate }}</span>
      <p class="mt-2 text-gray-700">
        {{ 'experience.descriptionFA' | translate }}
      </p>
    </div>

    <div class="mb-6 relative">
      <div class="absolute -left-3 top-1 w-6 h-6 bg-primary rounded-full"></div>
      <h3 class="text-xl font-semibold">{{ 'experience.scrumMaster' | translate }}</h3>
      <span class="text-sm text-gray-500">{{ 'experience.companySM' | translate }}</span>
      <p class="mt-2 text-gray-700">
        {{ 'experience.descriptionSM' | translate }}
      </p>
    </div>

    <div class="mb-6 relative">
      <div class="absolute -left-3 top-1 w-6 h-6 bg-primary rounded-full"></div>
      <h3 class="text-xl font-semibold">{{ 'experience.frontendDev' | translate }}</h3>
      <span class="text-sm text-gray-500">{{ 'experience.companyFD' | translate }}</span>
      <p class="mt-2 text-gray-700">
        {{ 'experience.descriptionFD' | translate }}
      </p>
    </div>

    <div class="mb-6 relative">
      <div class="absolute -left-3 top-1 w-6 h-6 bg-primary rounded-full"></div>
      <h3 class="text-xl font-semibold">{{ 'experience.backendDev' | translate }}</h3>
      <span class="text-sm text-gray-500">{{ 'experience.companyBD' | translate }}</span>
      <p class="mt-2 text-gray-700">
        {{ 'experience.descriptionBD' | translate }}
      </p>
    </div>
  </div>
</section>
